dialog {
  width: 100dvw;
  max-width: 100dvw;
  height: 100dvh;
  max-height: 100dvh;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  transition: opacity 0.5s;
  position: fixed;

  .content {
    height: 100dvh;
    max-height: 100dvh;
  }
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.548);
  left: -90px;
}

dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}
dialog[open] {
  opacity: 1;
  pointer-events: inherit;
}

img {
  height: calc(100dvh - 100px);
  min-height: calc(100dvh - 100px);
  object-fit: contain;
  max-width: min(100%, 85dvw);
}

.description {
  color: #ddd;
  height: 40px;
}

.to-btn {
  color: #fff;
  cursor: pointer;
  width: clamp(150px, 125px, 15dvw);
  font-size: 38px;
  user-select: none;

  &.next:hover {
  background: linear-gradient(90deg, transparent, #fff5);
  }
  &.prev:hover {
    background: linear-gradient(-90deg, transparent, #fff5);
  }
}

button:focus-visible {
  outline: none;
  border: none;
}
