@use "colors" as *;

section {
  display: flex;
  gap: 24px;

  div {
    flex-basis: 50%;
    flex-grow: 0;
  }
}

.imageposition-oben {
  flex-direction: column-reverse;
}

.imageposition-unten,
.imageposition-rechts,
.imageposition-links {
  flex-direction: column;

  gallery {
    width: 100%;
  }
}

.imagegrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 8px;
  width: 100%;
  min-width: 100%;
  img {
    display: inline-block;
    height: 195px;
    object-fit: contain;
  }
}

@media (min-width: 800px) {
  .imageposition-oben {
    flex-direction: column-reverse;
  }

  .imageposition-links,
  .imageposition-rechts {
    align-items: flex-start;
    .single-image,
    gallery {
      min-width: 60%;
      width: 60%;
    }
  }

  .imageposition-rechts {
    flex-direction: row;
  }

  .imageposition-links {
    flex-direction: row-reverse;
  }
  .imagegrid {
    width: 60%;
    min-width: 60%;
    justify-content: end;
  }

}

::ng-deep {
  .g-slider-content {
    background: $accent;
  }
}
