<section
  class="sui wrapper imageposition-{{ sectionData.imagePosition }} {{
    sectionData.__component
  }}"
>
  <div [innerHTML]="sectionData.text | strapiRichText"></div>
  @if (sectionData.images) {

    @if(sectionData.images[0].ext == '.mp4') {
      <video [title]="sectionData.images[0].caption ?? ''" class="single-media" controls [src]="sectionData.images[0] | strapiImage : 'video'"></video>
    }
    @else {
      @if (sectionData.images.length == 1) {
        @if(sectionData.images[0] | strapiImage; as imgSrc) {
          <img
          class="sui rounded-2 single-media c-pointer"
          [alt]="sectionData.images[0].alternativeText"
          [src]="imgSrc"
          (click)="lightboxSv.open(sectionData.images, 0, [imgSrc])"
          />
        }
      } @else {
        @if (sectionData.gallery) {
          <gallery
            [loop]="true"
            [items]="galleryImages"
            [bullets]="true"
            [bulletSize]="12"
            [autoplay]="true"
            [autoplayInterval]="7000"
            (itemClick)="lightboxSv.open(sectionData.images, $event)"
          />
        } @else {
          <div class="imagegrid">
            @if(strapiSv.getImageFormatUrls(sectionData.images, "medium"); as imgs) {
              @for (image of sectionData.images; track $index) {
                  <img
                  class="sui rounded-2 c-pointer"
                  [alt]="image.alternativeText"
                  [src]="imgs[$index]"
                  (click)="lightboxSv.open(sectionData.images, $index, imgs)"
                  />
                }
            }
          </div>
        }
      }
    }



  }
</section>
