@use "colors" as *;
@use "variables" as *;

:host {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-align: center;
    min-width: 180px;
    padding-bottom: 28px;

    .avatar {
        height: 180px;
        min-height: 180px;
        width: 180px;
        min-width: 180px;
        overflow: hidden;
        object-fit: cover;
        border-radius: 50%;
        outline: 5px solid $primary;
    }

    .phone {
        img {
            filter: invert(0.7);
        }
    }
}