@use "colors" as *;

.animal-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.filter-selector {
  display: flex;
  padding: 3px;
  button {
    background-color: $neutral100;
    outline: 3px solid $primary;
    outline-offset: -1.2px;
    border-radius: 0;
    padding: 6px 8px;
    color: $neutral800;
    transition: background-color 0.25s, color 0.25s;
    &:first-child {
      border-radius: 100px 0 0 100px;
    }
    &:last-child {
      border-radius: 0 100px 100px 0;
    }
    &.active {
      background-color: $primary;
      color: #fff;
    }
    &:not(.active):hover {
      background-color: $primary-bg;
    }

    &:only-child {
        border-radius: 100px;
    }
  }
}

#search {
    color: $neutral800;
    outline: 3px solid $primary;
    outline-offset: -1px;
    border-radius: 100px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media (max-width: 900px) {
  .filters {
    gap: 8px;
    .filter-selector {
      button {
        padding: 3px 6px;
      }
    }
  }
}