@use "colors" as *;

.animal-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

#search {
    color: $neutral800;
    outline: 3px solid $primary;
    outline-offset: -1px;
    border-radius: 100px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media (max-width: 900px) {
  .filters {
    gap: 8px;
    .filter-selector {
      button {
        padding: 3px 6px;
      }
    }
  }
}
