@use "colors" as *;
@use "variables" as *; 

h1 {
    font-family: more-sugar;
    font-weight: 400;
    font-size: $fontsize-h1;
    color: $primary;
}

.animal-article-card {
    display: flex;

    img {
        width: 300px;
        object-fit: cover;
    }
}