@if (article) {
  <div class="sui wrapper">
    <div class="sui pt-4">
      <h1 class="sui mb-3 flex-x ai-center gap-4">
        <a class="back-link" title="Zurück zur Übersicht" [routerLink]="'/tiere/hunde'">&lt; </a>
        {{ getDefaultTitle() }}
      </h1>

      <div class="cvs">
        <div class="tabs sui flex-x wrap">
          @for (animal of article.animals; track animal.id) {
            <div class="tab sui p-3 text-sugar ai-center flex-x gap-2" [class.active]="selectedCv == $index" (click)="selectedCv = $index">
              <span>{{ article.animals.length > 1 ? animal.name : "Steckbrief" }}</span>
              <img class="gender-icon" [src]="getGendericon(animal)" />
            </div>
          }
        </div>

        <div class="tab-body sui p-4 flex-y gap-5">
          <div class="sui flex-x gap-3 jc-space-between wrap">
            <div class="cv-grid sui flex-y grow-1 mw-33">
              @if (article.animals.length > 1) {
                <h2 class="text-sugar">Steckbrief</h2>
              }
              <div class="sui flex-y gap-2">
                <span><strong>Alter:</strong> {{ animalSv.getAgeString(article.animals[selectedCv]) }}</span>
                <span><strong>Kastriert:</strong> {{ article.animals[selectedCv].castrated ? "ja" : "nein" }}</span>
                <span><strong>Schulterhöhe: </strong>{{ article.animals[selectedCv].shoulderHeightCm }}cm</span>

                @if (article.animals[selectedCv].diseases?.trim()) {
                  <span><strong>Gesundheit:</strong> {{ article.animals[selectedCv].diseases }}</span>
                }

                @if (article.animals[selectedCv].tolerating?.trim()) {
                  <span><strong>Verträglichkeit:</strong> {{ article.animals[selectedCv].tolerating }}</span>
                }

                @if (article.animals[selectedCv].suitedFor?.trim()) {
                  <span><strong>Geeignet für:</strong> {{ article.animals[selectedCv].suitedFor }}</span>
                }
              </div>
            </div>
            <div class="cv-imag-wrapper">
              <img
                class="cv-img"
                [alt]="article.animals[selectedCv].thumbnail?.alternativeText"
                [src]="article.animals[selectedCv].thumbnail | strapiMedia: 'medium'"
              />
              <div class="bubbles">
                <span class="emergency" *ngIf="article.animals[selectedCv].emergency">Notfall</span>
                <span *ngIf="animalSv.isInGermany(article.animals[selectedCv])">{{ article.animals[selectedCv].whereInGermany }}</span>
              </div>
            </div>
          </div>

            <div class="sui flex-y gap-2 grow-1 mw-33">
              <span class="short-description" [innerHTML]="article.animals[selectedCv].description"></span>
            </div>
          <div class="sui flex-x gap-3">
            <a [routerLink]="'/formulare/bewerbung'"><button class="cto">Jetzt bewerben</button></a>
            <a [routerLink]="'/formulare/patenschaftsantrag'"><button class="cto">Pate werden</button></a>
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>
  <app-article [sections]="article.sections" />
  <div class="sui wrapper flex-y ai-center mt-5 gap-3">
    <h3 class="text-sugar">{{ getCtoText() }}</h3>

    <div class="sui flex-x gap-3">
      <a [routerLink]="'/formulare/bewerbung'"><button class="cto">Jetzt bewerben</button></a>
      <a [routerLink]="'/formulare/patenschaftsantrag'"><button class="cto">Pate werden</button></a>
    </div>
  </div>
} @else {
  Tier nicht gefunden
}
