@if (article) {
  <div class="sui wrapper">
    <div class="d-flex">
      <h1>{{ getTitle() }}</h1>

      @for (animal of article.animals; track animal.id) {
        <div class="animal-article-card">
          <p>{{ animal.animalKind?.name }}</p>
          <img
            [alt]="animal.thumbnail?.alternativeText"
            [src]="animal.thumbnail | strapiImage"
          />
          <img
            [alt]="animal.animalKind?.icon?.alternativeText"
            [src]="animal.animalKind?.icon | strapiImage"
          />
        </div>
      }
    </div>
  </div>
  <app-article [sections]="article.sections" />
  <div class="sui wrapper flex-x jc-center">
    <a [routerLink]="'/formulare/bewerbung'"><button class="cto">Haben {{getTitle()}} ihr Interesse geweckt?</button></a>
  </div>
} @else {
  Tier nicht gefunden
}
