@use "colors" as *;
.form-container {
  border-radius: 24px;
}

input, textarea {
  border-radius: 24px;
  background-color: transparent;
  border-color: #fff;
  border-width: 1.8px;

  &::placeholder {
    color: #000;
    opacity: 1; /* Firefox */
  }
}

textarea {
  min-height: 0;
  height: auto;
}


#accept-dsgvo {
  max-width: 32px;
  border-radius: 16px;
  accent-color:  $primary;
  height: 32px;

  &:focus-within, &:focus {
  outline: none !important;
  }
}

button {
  width: fit-content;
}

.contact {
  min-width: 300px;

  img {
    filter: invert(0.6);
  }
}
