@use "colors" as *;

.hero {
    height: 70dvh;
    display: block;
    margin-bottom: 32px;
    position: relative;


    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        background-color: $accent;
    }

    svg {
        position: absolute;
        bottom: -2px;
        transform: scaleY(0.4) translateY(80%);
    }
}
