@use "colors" as *;
@use "variables" as *;

app-article {
    h1, h2 {
        font-family: more-sugar;
        color: $primary;
        font-weight: 400;
    }

    h1 {
        font-size: $fontsize-h1;
    }

    h2 {
        font-size: $fontsize-h2;
    }

    h3 {
        font-size: $fontsize-h3;
        font-weight: 300;
    }

    h4, h5, h6 {
        font-size: $fontsize-h4;
        font-weight: 400;
    }

    p {
        min-height: 1.5rem;   
    }
}