@use "colors" as *;
@use "variables" as *;

body {
    font-size: $fontsize-default;
    color: $text;
}

.text-primary {
    color: $primary;
}

.text-secondary {
    color: $neutral600;
}

.text-sugar {
    font-family: more-sugar;
    font-weight: 400;
}

.text-center {
    text-align: center;
}

.bold {
    font-weight: 700;
}

.divider {
    border: none;
    background: mix(transparent, $neutral400, 50%);
    height: 1.1px;
    margin: 32px 0;
  }
button {
    .primary {
        background-color: $primary;
        color: #fff;
    }
}

.link, article a {
    color: $cto;
    transition: color 0.2s;

    &:hover {
        color: $cto-d2;
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-style: dotted;
    }
}

.shadow {
    box-shadow: 0 0 12px #0005;
}

.bg-accent {
    background-color: $accent;
}