@use "colors" as *;

:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.banner {
  display: flex;
  align-items: center;
  height: 800px;
  max-height: 70dvh;
  background-size: cover;
  background-position: 520px center;
  position: relative;
  overflow: hidden;

  app-article {
    display: flex;
    align-items: center;
    width: 50%;
    min-width: min(600px, 100%);
    max-width: 100%;
    background-color: $primary-bg;
    position: absolute;
    height: 200%;
    border-radius: 0 1200px 1200px 0;
    padding-left: min(100px, 10dvw);
    padding-right: min(100px, 10dvw);
    transition: width 0.5s, padding 0.5s;

    &:hover {
      width: calc(50% + 20px);
      min-width: min(620px, 100%);
      padding-right: min(120px, 10dvw);
    }
  }
}

.footer {
  background-color: $primary-d1;
  color: #fff;
  font-size: 0.9rem;

  .footer-top {
    display: grid;
    gap: 55px;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    width: min(1450px, calc(100dvw - 64px));
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 100px;
    line-height: 1.8;
  }

  .footer-bottom {
    background-color: #0006;

    .content {
      width: min(1450px, calc(100dvw - 64px));
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 50px;
      padding-bottom: 50px;
      display: flex;
      gap: 60px;
      position: relative;

      > span {
        position: absolute;
      }
    }
  }

  a {
    transition: color 0.2s;
  }

  a:hover {
    color: $cto;
  }

  h3 {
    color: #fff;
    font-size: 1.45rem;
  }

  app-paypal-button-section {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 220px;
  }
}


@media(max-width: 900px) {
  .footer .footer-bottom .content > span {
    bottom: 20px;
    text-align: center;
  }
}

@media(max-width: 700px) {
  .banner app-article {
    min-width: 100% !important;
    transform: scale(1.0) !important;
    width: 100%;
    border-radius: 0;
  }
}

img {
  width: 175px;
  height: 175px;
}

:host ::ng-deep article {
  max-width: 100%;
}

.para11 {
  width: 100%;
  height: 100%;
  max-width: 175px;
  object-fit: contain;
  object-position: center 0;
}

@media (max-width: 1000px) {
  .footer .footer-top {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: unset;
    grid-auto-flow: unset;
  }
}

@media (max-width: 700px) {
  .footer .footer-top {
    display: flex;
    flex-direction: column;
  }
}
