@use "colors" as *;

:host {
    display: flex;
    flex-direction: column;
    margin-top: 42px;
  overflow: hidden;

}

.banner {
    display: flex;
    align-items: center;
    height: 800px;
    max-height: 70dvh;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;

    app-article {
      display: flex;
      align-items: center;
      width: 50%;
      min-width: 600px;
      max-width: 100%;
      background-color: rgba(0, 0, 0, 0.53);
      position: absolute;
      height: 200%;
      border-radius: 0 1200px 1200px 0;
    }
}

.footer {
    display: flex;
    align-items: center;
    height: 200px;
    background-color: $primary-d1;
    padding: 12px;
    color: #fff;

    a {
        transition: color 0.2s;
    }

    a:hover {
        color: $cto;
    }
}

img {
    width: 110px;
    height: 110px;
}

:host ::ng-deep article {
  max-width: 100%;
  color: #fffb;
  h1, h2, h3, h4 {
    color: #ffffffcc;
  }
}
