@use "colors" as *;

:host {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.banner {
    display: flex;
    align-items: center;
    height: 800px;
    max-height: 70dvh;
    background-size: cover;
    background-position: 520px center;
    position: relative;
    overflow: hidden;

    app-article {
      display: flex;
      align-items: center;
      width: 50%;
      min-width: min(600px, 100%);
      max-width: 100%;
      background-color: $primary-bg;
      position: absolute;
      height: 200%;
      border-radius: 0 1200px 1200px 0;
      padding-left: min(100px, 10dvw);
      padding-right: min(100px, 10dvw);
      transition: width 0.5s, padding 0.5s ;

      &:hover {
        width: calc(50% + 20px);
        min-width: min(620px, 100%);
        padding-right: min(120px, 10dvw);
      }
    }
}

.footer {
    display: flex;
    align-items: center;
    height: 200px;
    background-color: $primary-d1;
    padding: 12px;
    color: #fff;

    a {
        transition: color 0.2s;
    }

    a:hover {
        color: $cto;
    }
}

img {
    width: 110px;
    height: 110px;
}

:host ::ng-deep article {
  max-width: 100%;
}
