    {{homeData.bannerText}}

<div class="bg-accent">
    <div class="wrapper">
        <button class="primary">primary</button>
        <button class="secondary">secondary</button>
        <button class="cto">secondary</button>
        <br><br>
        <button class="primary small">primary</button>
        <button class="secondary small">secondary</button>
        <button class="cto small">call to action</button>
        <br><br>
        This is a <a href="https://google.de" class="link">link</a> to google
    </div>
</div>
<div class="wrapper">
    <button class="primary">primary</button>
    <button class="secondary">secondary</button>
    <button class="cto">call to action</button>
    <br><br>
    <button class="primary small">primary</button>
    <button class="secondary small">secondary</button>
    <button class="cto small">call to action</button>
    <br><br>
    This is a <a href="https://google.de" class="link">link</a> to google
    <br><br>
    <app-animal-list [query]="query"/>

</div>